.title {
    filter: drop-shadow(0 0 5px #FFFFFF);
}

.selected {
    animation: huerotator 0.5s infinite alternate;
}

@keyframes huerotator {
    0% {
        filter: contrast(100%);
    }

    50% {
        filter: contrast(70%);
    }

    100% {
        filter: contrast(100%);
    }
}