body {
    font-family: sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    background-color: #F0F0E0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.outbox {
    width: 750px;
}